<li class="list-group-item d-flex 
    justify-content-between 
    align-items-center li-despesa">
    <div>
        <input class="form-check-input pointer" (click)="selecionarDespesa($event)" [id]="despesa.id" type="radio"
            name="rd-despesa">
        <label class="nome-despesa form-check-label pointer" [for]="despesa.id">
            {{ despesa.nome }}
        </label>
    </div>
    <span class="badge badge-pill pointer" (click)="trocarStatusDespesa(despesa.id)" [ngClass]="{ 
            'alert-success': despesa.paga == true, 
            'alert-warning': despesa.paga == false, 
            'badge-despesa-paga': despesa.paga == true }">
        {{ despesa.valor | moeda }}
    </span>
</li>