<h2 class="titulo-pagina text-primary">Controle Mensal ({{ valorTotalDespesas | moeda }})</h2>
<hr>
<div class="loading-spinner">
    <span *ngIf="carregando == true" class="spinner-border spinner-border-md text-primary" role=" status"
        aria-hidden="true">
    </span>
</div>
<ul *ngIf="carregando == false" class="list-group">
    <app-despesa-item *ngFor="let despesa of despesas" [despesa]="despesa">
    </app-despesa-item>
    <div *ngIf="erroCarregarDespesas == true" class="alert alert-danger alert-erro-carregar-despesas" role="alert">
        {{ textoErro | uppercase }}
    </div>
</ul>
<div class="btn-grupo-acoes" *ngIf="idDespesaSelecionada == ''">
    <button *ngIf="carregando == false && erroCarregarDespesas == false" class="btn btn-primary"
        [routerLink]="['/adicionar-despesa']">
        Incluir
    </button>
</div>
<div class="col-xs-12 btn-grupo-acoes" *ngIf="idDespesaSelecionada != ''">
    <button class="btn btn-primary" [routerLink]="['/editar-despesa', idDespesaSelecionada]">
        Editar
    </button>
    <button class="btn btn-secondary" (click)="excluirDespesa()">Excluir</button>
    <button class="btn btn-secondary" (click)="cancelarSelecaoDespesa()">
        Voltar
    </button>
</div>