<h1>Controle Mensal</h1>
<hr>
<ul class="list-group">
    <app-despesa-item *ngFor="let despesa of despesas" [despesa]="despesa">
    </app-despesa-item>
    <li *ngIf="despesas.length == 0" class="list-group-item nenhuma-despesa">
        Uau! Nenhuma despesa por aqui.
    </li>
</ul>
<div class="btn-grupo-acoes" *ngIf="idDespesaSelecionada == ''">
    <button class="btn btn-outline-primary" [routerLink]="['/adicionar-despesa']">
        Nova Despesa
    </button>
</div>
<div class="col-xs-12 btn-grupo-acoes" *ngIf="idDespesaSelecionada != ''">
    <button class="btn btn-outline-secondary" (click)="cancelarSelecaoDespesa()">
        Voltar
    </button>
    <button class="btn btn-outline-primary" [routerLink]="['/editar-despesa', idDespesaSelecionada]">
        Editar
    </button>
    <button class="btn btn-outline-danger" (click)="excluirDespesa()">Excluir</button>
</div>