.div-btn-acoes {
    text-align: right;
}

.margem-superior {
    margin-top: 20px;
}

.ng-invalid.ng-touched.form-control {
    border: 1px solid #f18690;
}

.small-invalid {
    color: #f18690 !important;
}