<div class="row">
    <div class="col-xs-12">
        <h1 class="titulo-pagina text-info">{{ titulo }}</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <form #formDespesa="ngForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input [(ngModel)]="despesa == undefined ? '' : despesa.nome" id="nome" type="text" class="form-control"
                    name="nome" #nome="ngModel" required>
                <small id="nome-help" class="form-text text-muted"
                    [ngClass]="{'small-invalid': nome.valid == false && nome.touched == true}">
                    Digite um nome para a nova despesa.
                </small>
            </div>
            <div class="form-group margem-superior">
                <label for="valor">Valor</label>
                <input [(ngModel)]="despesa == undefined ? '' : despesa.valor" id="valor" type="text"
                    class="form-control" name="valor" #valor="ngModel" required>
                <small id="valor-help" class="form-text text-muted"
                    [ngClass]="{'small-invalid': valor.valid == false && valor.touched == true}">
                    Digite um valor para a nova despesa.
                </small>
            </div>
            <div class="form-group margem-superior">
                <label for="paga">Paga</label>
                <select id="paga" class="form-control" [(ngModel)]="despesa == undefined ? '' : despesa.paga"
                    name="paga" #paga="ngModel" required>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
                <small id="paga-help" class="form-text text-muted"
                    [ngClass]="{'small-invalid': paga.valid == false && paga.touched == true}">
                    Selecione um status para a despesa.
                </small>
            </div>
            <div class="div-btn-acoes margem-superior">
                <button class="btn btn-outline-primary btn-submit" type="submit"
                    [disabled]="formDespesa.valid == false || formDespesa.dirty == false">
                    <span *ngIf="salvando == true" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true">
                    </span>
                    Salvar
                </button>
                <button type="button" class="btn btn-outline-secondary" [routerLink]="['/despesas']">Voltar</button>
            </div>
        </form>
    </div>
</div>